<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
{% if site.social.facebook %}
    <meta property="og:author" content="{{ site.social.facebook }}" />
{% endif %}
<meta property="og:locale" content="{{ site.locale }}" />
<meta property="og:type" content="{% if page.facebook_type %}{{ page.facebook_type }}{% else %}article{% endif %}" />
{% if page.facebook_image %}
    <meta property="og:image" content="{{ site.url }}/{{ page.facebook_image }}" />
{% elsif site.social.facebook_image %}
    <meta property="og:image" content="{{ site.url }}/{{ site.social.facebook_image }}" />
{% endif %}

<meta property="twitter:card" content="summary" />
{% if site.social.twitter %}
    <meta property="twitter:site" content="{{ site.social.twitter }}" />
    <meta property="twitter:creator" content="{{ site.social.twitter }}" />
{% endif %}
{% if page.twitter_card.image %}
    <meta property="twitter:image:src" content="{{ site.url }}/{{ page.twitter_image }}" />
{% elsif site.social.twitter_image %}
    <meta property="twitter:image:src" content="{{ site.url }}/{{ site.social.twitter_image }}" />
{% endif %}